.profile__avatar-button {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../../../images/profile/avatar-button.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: none;
    padding: 0;
    transition: opacity .25s ease;
    opacity: 0;
    border-radius: 45%;
}

.profile__avatar-button:hover {
    cursor: pointer;
    opacity: 1;
}
