.profile__info {
    display: grid;
    align-items: end;
    grid-template-columns: fit-content(500px) 24px;
    grid-template-rows: repeat(2, fit-content(100px));
    grid-template-areas:
        "name edit-button"
        "description description";
    column-gap: 18px;
}

@media screen and (max-width: 768px) {
    .profile__info {
        grid-template-columns: 1fr 18px;
        grid-template-areas:
            "name edit-button"
            "description .";
        column-gap: 10px;
        row-gap: 7px;
        margin-left: 28px;
        text-align: center;
    }
}
