.header__link {
    color: white;
    text-decoration: none;
    background-color: transparent;
    font-size: 18px;
    line-height: 22px;
    transition: 0.25s ease;
}

.header__link:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header__link {
        font-size: 14px;
        line-height: 17px;
        margin-right: 27px;
    }
}
