.login {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    margin-top: 60px;
    max-width: 358px;
    height: calc(100vh - 328px);
    min-height: 300px;
    width: 100%;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .login {
        height: calc(100vh - 246px);
    }
}
